body{
    padding: 0;
    margin: 0;
  } 
  
  .card{
    width: 100px;
    height: 100px;
    background-color: #AFDA9F;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    user-select: none;
  }

  h1 {
    text-align: center;
    user-select: none;
  }